:root{
    --main-light: #757779;
    --main-color: #b8710d;

    --back-one:#121212;
    --back-two:#252525;
    --back-three:#353535d1;

    --high-emphasis: #e2e2eb;
    --medium-emphasis: #e2e2eba8;
    --low-emphasis: #e1e1ea4d;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body{
    width: 100%;
    height: 100%;
    background-color: var(--back-three);
}
main{
    display: flex;
    flex-direction: column;

    padding: 12px;
    height: 100%;
    max-width: 600px;
}
main section:not(:last-of-type){
    margin-bottom: 12px;
}
/* Inicializando containers */
.range-container, .mid-container,.bot-container{
    width: 100%;

    padding: 24px;
    border-radius: 4px;
}
/* Range container */
.range-container{

    height: 44%;
    background-color: var(--main-light);


}
.range-list{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width:90%;
    height: 100%;  

    list-style: none;
    background-color: transparent;

    transform: rotate(90deg);
}
/* Style range */

li{
    width: calc(100%/5); 
    height: 0%;
}
.range-item{
    -webkit-appearance: none;
    background-color: var(--low-emphasis);
    border:1px solid var(--high-emphasis);
    width: 100%;
    height: 8px;
    outline: none;
    border-radius: 12px;
}

.range-item::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 16px;
    height: 16px;

    border-radius: 12px;
    background-color: var(--main-color);
    border: 4px solid var(--high-emphasis);
    
    cursor: pointer;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.157));
} 

/* mid-container */
.mid-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16%;

    background-color: var(--back-one);
    outline: none;
}
.range-item.self{
    background-color: var(--main-color);
    border:1px solid var(--high-emphasis);
}
.range-item.self::-webkit-slider-thumb{
    background:var(--main-light);
    border: 4px solid var(--high-emphasis);
} 

/* Emoji container */
.bot-container{
    height:40%;
    background-color: var(--main-light);
}
.emoji-container{
    display: grid;
    grid-template-columns: repeat(5,auto);
    place-items: center;

    overflow-y: auto;
    height: 100%;
}
.emoji-button{
    padding: 4px;
    margin: 8px;
    font-size: 18px;

    background:var(--medium-emphasis);
    border: 4px solid var(--high-emphasis);
    border-radius: 12px;

    transition: all .1s ease;

    cursor: pointer;
}
.emoji-button:active{
    transform: scale(0.90);
}
/* Vertical */
.vertical{
    -webkit-transform:rotate(180deg); 
    
}