*{
    box-sizing: border-box;
    padding: none;
    margin: none;
}
html, body{
    height: 80%;
}
main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
  
